<div class= "main">
  <div class="chat-header">
    <div class="left-header">
      <div class="back-button">
        <button id="back-button">＜</button>
      </div>
      <div class="header-title">
        <%= @room.name %>
      </div>
      <div class="header-category">
        <%= form_tag(room_messages_path(@room), method: :get, class: 'category-filter', remote: true) do %>
          <%= select_tag :category_id, options_for_select([['全て', ''], *Category.where(id: 2..6).pluck(:name, :id)], (params[:category_id] || '')), class: 'filter-selectbox' %>
          <%= submit_tag '🔍' , class: 'search-submit' %>
        <% end %>
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
        <%= link_to "チャットを終了する", room_path(@room), data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>

  <div class="messages" id="chat-messages">
    <%= render partial: 'message', collection: @messages %>
  </div>

  <%= form_with model: [@room, @message], data: {turbo: false}, class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"message-category"}) %>
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :images, multiple: true, accept: "image/*" , class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit', id: 'form-btn' %>
  <% end %>
</div>

<script>
  // ページ読み込み時と新しいメッセージ追加時に最下部にスクロール
  document.addEventListener("turbo:load", function() {
    const chatMessages = document.getElementById('chat-messages');
    chatMessages.scrollTop = chatMessages.scrollHeight;
  });

  // 画像選択時の制限
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector('.hidden').addEventListener('change', function(e) {
      if (e.target.files.length > 8) {
        alert("最大8枚までしか選択できません。");
        e.target.value = ''; // 選択をクリアする
      }
    });
  });
</script>